.dark-theme .main:after{
  background: url(dark-mode-bg.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0.5;
}

body.dark-theme{
  background: #002025;
}

.dark-theme .header{
  background-color: #002025;
  --box-shadow-color: #010c0e;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme .hand-draw-context{
  border-color: #e7e9c9;
  background:rgb(57, 146, 161);
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear, border 500ms ease-out;
}

.dark-theme .hand-draw-btn:hover{
  box-shadow: 0 2px 0 #132b36, 0 2px 0px 2px #0e5680;
}

.dark-theme .hand-draw-btn{
  --box-shadow-color: #0488a0;
  color: #fff;
  background-color: rgb(57, 146, 161);
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme .text_story{
  background-color: #002329;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme .story .quote{
  color: #e7e9c9;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}


.dark-theme #app-cover{
  background-color: #00171b;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}


.dark-theme .button{
  background-color: #00171b;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme .button i{
  color: #0488a0;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;

}

.dark-theme .button:hover {
  color: #71d6e6;
  background-color:#0488a0;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme .button:hover i{
  color: #002c33;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme #player-track{
  background-color: #002c33;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme #album-name{
  color: #d0d3a7;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}
.dark-theme #track-name{
  color: #BEAFAE;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme #album-art{
  box-shadow: 0 0 0 10px #000;
}

.dark-theme #album-art img.active{
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
}
#album-art.buffering img.active{
  filter: blur(2px) hue-rotate(180deg) !important;
  -webkit-filter: blur(2px) hue-rotate(180deg) !important;
}
.dark-theme #album-art.active {
  box-shadow: 0 0 0 4px #000, 0 30px 50px -15px #000000;
}

.dark-theme #seek-bar{
  background-color: #d0d1c0;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme #s-area{
  background-color: #198899;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme #track-time.active #current-time, .dark-theme #track-time.active #track-length{
  color: #2ec0d6;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme .dot{
  filter: invert(1);
}


.dark-theme .author-img{
  box-shadow: -5px 5px 15px #000000;
}

.dark-theme .author-img .info{
  background-color: #00353d;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme .author-img .info .seemore{
  color:#2db0c4;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}

.dark-theme .author-img .info .des{
  background-color: #00353d;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}


.dark-theme .author-img .info p{
  background:#00353d;
  color: #adad9d;
  -webkit-transition: background-color 500ms linear, color 1s linear;
  -moz-transition: background-color 500ms linear, color 1s linear;
  -o-transition: background-color 500ms linear, color 1s linear;
  -ms-transition: background-color 500ms linear, color 1s linear;
  transition: background-color 500ms linear, color 1s linear;
}


.dark-theme .wrapper-loading{
  background-color: #00151b;
}

.dark-theme .lds-ellipsis div{
  background:#fff !important;
}

.dark-theme .defination-text{
  color: #99a175 !important;
}